<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ed5a4b90-0600-498e-9ed8-4048a707bb57" name="TestSuite 2" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="ed5a4b90-0600-498e-9ed8-4048a707bb57fileName">TestSuite-2</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>PARALLELL</con:runType><con:properties/><con:reportParameters/></con:testSuite>