<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f4e12cb2-7474-43c0-a89c-8c84a0bfb52d" name="TestSuite 3" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="f4e12cb2-7474-43c0-a89c-8c84a0bfb52dfileName">TestSuite-3</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>